a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}

.logo{
	padding-top: 3%;
}

.logo__text{
	padding-left: 10%;
}
.nav__ul{
	list-style-type: none;
}
.nav{
	padding-top: 2%;
}

.nav__li{
	display: inline-block;
	padding-right: 2%;
}
.nav__a{
    text-transform: uppercase;
	color: #202242;
}
.nav__a:hover{
	color: #ffe13e;
}
.CTA{
	border-left: 1px solid #3b3f6a;
	padding-top: 1.5%;
	padding-bottom: 2%;
}

.span{
	font-size: 14px;
	padding-bottom: 5%;	
	padding-left: none;
	float: right;
}

.CTA__button{
	border: none;
	background: #ffe13e;
	padding: 10px 25px 10px 25px;
	margin-left: 4%;
}

.CTA__phone{
	border-left: 1px solid #3b3f6a;
	font-size: 24px;
	padding: 3px 0px 3px 25px;
}
.hrblock{
	background: #FFFFFF;
	width: 100%;
	height: 40px;
}

.firstblock{
	background: url(../img/shar.jpg) no-repeat top center / cover;
	
	height: 800px;
}

.generalh1{
	padding-top: 220px;
	text-align: center;
	color: #fff;
	h1{
		padding-bottom: 2%;
	}
	h2{
		padding-bottom: 2%;
	}
	img{
		padding-bottom: 7%;
	}
}

.formfirstblock{
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	padding: 1.5% 0.1% 1.5% 0.1%;
}

.formfirstsection{
	input{
		height: 41px;
		width: 40%;
		bottom: none;
		padding-left: 2%;
		border: 1px solid #fff;
	}
	span{
		padding: 12px 18px 13px 15px;
		background: #ffe13e;
		margin: -5px;
		text-align: center;
	}
	button{
		border: none;
		border-left: 1px solid #fff;
		background: #ffe13e;
		height: 41px;
		color: #fff;
	}
	text-align: center;
}

.generalblockleft{
  background: #202242;
}

.generalblockright{
	background: #ffe13e;
}

.leftblock{
	padding-top: 120px;
	h3{
		color: #fff;
		font-size: 1.75em;
		padding-top: 5%;
	}
	span{
		color: #fff;
		padding-top: 5%;
	}
	button{
		border: 2px solid #fff;
		color: #fff;
		padding: 2%;
		background: transparent;
		margin-top: 7%;
	}
	text-align: center;
	padding-bottom: 80px;
}

.rightblock{
	padding-top: 53px;
	p{
		color: #3b3f6a;
		font-size: 80px;
		font-weight: 800;
	}
	h3{
		color: #fff;
		font-size: 1.75em;
		padding-top: 1%;
	}
	span{
		color: #fff;
		padding-top: 5%;
	}
	button{
		border: 2px solid #fff;
		color: #fff;
		padding: 2%;
		background: transparent;
		margin-top: 7%;
	}
	text-align: center;
	padding-bottom: 85px;
}
.threesection{
	background: url(../img/theebg.jpg) no-repeat center top / cover;
}
.threeblock{
	text-align: center;
	h2{
		color: #202242;
		font-size: 2em;
		font-weight: 600;
		padding-top: 5%;
	}
	h3{
		color: #202242;
		font-size: 1.1em;
		font-weight: 100;
		padding-bottom: 5%;
	}

}

.blockicon{
	hr{
		width: 70px;
		height: 2px;
		background: #202242;
	}
	h4{
		color: #f4d320;
	}
	span{
		color: #202242;
	}
	text-align: center;
	padding-bottom: 7%;
}

.fourblock{
	padding-top: 7%;
	padding-bottom: 8%;
}

.exemplecompany{
	padding-top: 2.5%;
}

.commentblock__text{
	background: #f5f3f3;
	text-align: center;
	padding: 2%;
	p{
		font-weight: 600;
	}
}

.commentblock{
	img{
		margin-top: -12%;
	}
	padding-bottom: 7%;
}

.fivesection{
	background: #202242;
}

.fiveblock__text{
	h2{
		color: #fff;
		padding-bottom: -10%;
	}
	span{
		color: #67687b;		
	}
}

.fiveblock{
	button{
		background: #ffe13e;
		border: none;
		font-weight: 600;
		padding: 3%;
		margin-top: 3%;
	}
	padding-top: 7%;
	padding-bottom: 7%;
}

footer{
	background: #363855;
}

.navigation{
	padding-top: 7%;
	padding-bottom: 7%;
}

.menufooter{
	ul{
		list-style-type: none;
	}
	h5{
		color: #fff;
		text-align: right;
		margin-left: 30px;
		margin-bottom: 40px;
	}
	a{
		color: #ffffff;
		border-bottom: 1px solid #fff;
		padding-left: 10px;
	}
	img{
		padding-top: 50px;
		cursor: pointer;
	}
	span{
		color: #fff;
		padding-top: 60px;
		font-size: 0.7em;
	}
	text-align: right;
}

.footer__icon{
	text-align: center;
	.footer__img{
		width: 125px;
		height: 50px;
		padding-left: 7.5%;
		text-align: center;
		overflow: hidden;
	}
	span{
		color: #ebebed;
		padding-top: 2%;
	}
}