
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
.menu{
	text-align: center;
}

.popup-overlay{
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255, .0001);
	display: none;
	position: fixed;
	left: 0;
	transition: background 1s;
	&:target{
		& + .popup{
		display: block;
		transform: translateX(0%);
	  	}
	  	background: rgba(200, 220, 224, .1);
	  	display: block;
	}
}
.popup{
	overflow: hidden;
	display: block;
	height: 100%;
	background: #fff;
	position: fixed;
	transform: translateX(-120%);
	transition: transform 1s;
	-webkit-box-shadow: 3px 0px 16px 0px rgba(14, 50, 50, 0.75);
	-moz-box-shadow:    3px 0px 16px 0px rgba(14, 50, 50, 0.75);
	box-shadow:         3px 0px 16px 0px rgba(14, 50, 50, 0.75);
	&:target{
		display: block;
	}
	&-clous{
		float: right;
		top: 30px;
		right: 30px;
		position: absolute;
		font-size: 1.5em;
		color: #2DC091;
		&:hover{
			color: #FD2E99;
		}
	}
}