body {
  background-image: url(../img/bg.png);
  background-size: cover;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.header {
  width: 100vw;
  height: 20vh;
  text-align: center;
}
.header h1 {
  line-height: 5vh;
  color: #0bbaf0;
}
.header p {
  color: #0bbaf0;
  font-size: 1.1em;
}
.general-accordion {
  display: flex;
  justify-content: center;
}
.accerdion {
  width: 60vw;
  text-align: center;
}
.accerdion .tab {
  display: block;
  height: 10vh;
  line-height: 10vh;
  background: #0bbaf0;
}
.accerdion .content {
  display: none;
}
