a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
header {
  padding-top: 3vh;
}
.top-header {
  text-align: center;
}
.top-header h3 {
  text-transform: uppercase;
}
.feedback {
  padding-top: 1.3rem;
}
.feedback a {
  color: #363636;
  font-weight: 600;
  font-size: 1.3em;
}
.feedback button {
  background: transparent;
  border: 2px solid #363636;
  border-radius: 10px;
  color: #363636;
  padding: 0.5rem 2rem;
  animation-iteration-count: infinite;
}
.feedback button:hover {
  background: #7BB7CD;
  border: 2px solid #7BB7CD;
  color: #fff;
}
.navbar {
  text-align: center;
  margin-top: 1rem;
  background: #292d30;
}
.navbar ul li {
  display: inline-block;
  padding-right: 2rem;
}
.navbar ul li a {
  color: #fff;
  font-size: 1.2em;
  transition: all 1s;
}
.navbar ul li a:hover {
  color: #FE6A9B;
}
.description {
  background-image: url(../img/background.jpg);
  padding-top: 10%;
  text-align: center;
}
.description h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 4.7em;
}
.description h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.7em;
}
.description h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.1em;
}
.description .offer {
  padding-top: 1.8%;
}
.description .offer p {
  color: #fff;
}
.description .offer button {
  background: #059feb;
  border-radius: 33px;
  color: #fff;
  border: none;
  padding: 1rem 3rem;
  animation-iteration-count: infinite;
  text-transform: uppercase;
  animation-duration: 5s;
  transition: all 1s;
  margin-top: 1%;
}
.description .offer button:hover {
  background: #FB74C3;
}
.description__img {
  margin-top: -13rem;
  margin-left: 30rem;
}
.mouse {
  padding-top: 12rem;
  padding-bottom: 17rem;
}
.mouse p {
  color: #fff;
}
.contemt {
  text-align: center;
  padding-top: 3rem;
  padding: 0 10rem;
}
.contemt h1 {
  color: #363636;
}
.contemt hr {
  width: 20rem;
  height: 0.3rem;
  background: #059feb;
}
.contemt .card {
  padding: 5rem;
}
.contemt .card p {
  font-size: 1.3em;
}
